# TUGAS ARRAY

In [1]:
# Tambahkan kolom baru yaitu “domisili_asal”, yang isinya: “Pekanbaru” dan “luar kota”

import pandas as pd

# Membuat DataFrame
data= {'Nama': ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'], 
       'Kelas': ['2A', '2B', '2C', '2D', '2E', '2F', '2G'], 
       'Gender': ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menambahkan kolom baru
df['Domisili_Asal'] = ['Pekanbaru', 'Luar kota', 'Pekanbaru', 'Pekanbaru', 'Luar kota', 'Luar kota', 'Pekanbaru'] 
print("DataFrame setelah menambahkan kolom 'Domisili_Asal':") 
print(df) 
print("\n")

DataFrame setelah menambahkan kolom 'Domisili_Asal':
  Nama Kelas Gender     Nomor HP Domisili_Asal
0  Ana    2A  Cewek  08113322582     Pekanbaru
1  Anu    2B  Cowok  08129988563     Luar kota
2  Ano    2C  Cowok  08137896541     Pekanbaru
3  Ani    2D  Cewek  08144447789     Pekanbaru
4  Ane    2E  Cewek  08158886665     Luar kota
5  Abu    2F  Cowok  08173337744     Luar kota
6  Abi    2G  Cowok  08198877444     Pekanbaru

In [59]:
# Hapus kolom Nomor_HP

import pandas as pd

# Membuat DataFrame
data =  {'Nama': ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'], 
       'Kelas': ['2A', '2B', '2C', '2D', '2E', '2F', '2G'], 
       'Gender': ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menghapus kolom 'Kota'
df= df.drop(columns=['Nomor HP'])
print("DataFrame setelah menghapus kolom 'Nomor HP':")
print(df)
print("\n")

DataFrame setelah menghapus kolom 'Nomor HP':
  Nama Kelas Gender
0  Ana    2A  Cewek
1  Anu    2B  Cowok
2  Ano    2C  Cowok
3  Ani    2D  Cewek
4  Ane    2E  Cewek
5  Abu    2F  Cowok
6  Abi    2G  Cowok

In [60]:
# Tambahkan kolom “usia”, isinya bebas

import pandas as pd

# Membuat DataFrame
data= {'Nama': ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'], 
       'Kelas': ['2A', '2B', '2C', '2D', '2E', '2F', '2G'], 
       'Gender': ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menambahkan kolom baru
df['Usia'] = ['19', '20', '20', '19', '20', '19', '21'] 
print("DataFrame setelah menambahkan kolom 'Usia':") 
print(df) 
print("\n")

DataFrame setelah menambahkan kolom 'Usia':
  Nama Kelas Gender     Nomor HP Usia
0  Ana    2A  Cewek  08113322582   19
1  Anu    2B  Cowok  08129988563   20
2  Ano    2C  Cowok  08137896541   20
3  Ani    2D  Cewek  08144447789   19
4  Ane    2E  Cewek  08158886665   20
5  Abu    2F  Cowok  08173337744   19
6  Abi    2G  Cowok  08198877444   21

In [71]:
# Hitung rata-rata usia dengan perintah “mean” dan total usia dengan perintah “sum”

import pandas as pd

# Membuat DataFrame
data =  {'Nama': ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'], 
       'Kelas': ['2A', '2B', '2C', '2D', '2E', '2F', '2G'],
       'Gender': ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444'],
        'Usia' :  [19, 20, 20, 19, 20, 19, 21] }


df= pd.DataFrame(data)

# Menghitung rata-rata usia
rata_Usia = df['Usia'].mean()
print("Rata-rata usia:", rata_Usia) 
print("\n")

#Menghitung jumlah total usia
jumlah_usia = df['Usia'].sum()
print("Jumlah total usia:")
print(jumlah_usia)

Rata-rata usia: 19.714285714285715


Jumlah total usia:
138

In [66]:
# Hitung berapa yang berasal dari “pekanbaru” dan “luar kota”

import pandas as pd

#Membuat DataFrame
data=  {'Nama': ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'], 
       'Kelas': ['2A', '2B', '2C', '2D', '2E', '2F', '2G'],
       'Gender': ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444'],
        'Domisili_Asal' :  ['Pekanbaru', 'Luar kota', 'Pekanbaru', 'Pekanbaru', 'Luar kota', 'Luar kota', 'Pekanbaru'] }

df = pd.DataFrame(data)

#Menghitung jumlah orang di setiap kota
jumlah_per_kota = df['Domisili_Asal'].value_counts()
print("Jumlah orang per kota:")
print(jumlah_per_kota)

Jumlah orang per kota:
Domisili_Asal
Pekanbaru    4
Luar kota    3
Name: count, dtype: int64